# Ignore dataset
dataset/*
safechat/node_modules/*
safechat/src/store/firebase.js
# Cordova
safechat/src-cordova/platforms/*
safechat/src-cordova/plugins/*
safechat/public/cordova.js
safechat/dist/*
safechat/src-cordova/*
