// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #027BE3;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$darkpurple : #0C0032;
$grey : #282828;
$lightgrey: #484848;

$light: #e2dfd5;

@import '~quasar-variables-styl'
